.bar.bar-header {

  .back-button {
    color: white;
  }

  .title {
    color: white;
  }

  .ion-chevron-left {
    color: white;
  }

  .ion-android-more-vertical {
    color: white;
  }
}

.headerMenu {
  background: #F5F5F5;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 5px;
  opacity: 1;
  display: block;
  width: 130px;

  li {
    padding-bottom: 10px;
  }
}
