.userContainer {
  margin: 1%;
  float: left;
  border: 1px solid #aaa;
  position: relative;

  img {
    width: 100%;
  }

  span {
    position: absolute;
    top: 5px;
    left: 3px;
    text-shadow: 2px 2px 2px #aaa;
    font-size: 10px;
    line-height: 0px;
    /* color: white; */
  }
}
