$colorLiked: #E8005E;

.profilePage {
  background-size: cover;

  .scroll {
    height: 100%;
  }

  .profileIMGContainer {
    height: 70%;
    background-size: cover !important;
    position:relative;
    background: black;
  }

  .profileButtons {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;

    a {
      color: white;
      width: 25%;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      height: 91px;
      margin: 0 10px;
      //float: left;
    }

    i {
      font-size: 4em;
      color: #fff;
      opacity: 0.8;
      line-height: 90px;
      -wekit-transition: all .2s linear;
      transition: all .2s linear;
    }

    .likeButton.active i {
      color: $colorLiked;
      transform: rotateY( 180deg );
    }
  }

  .profileData {
    padding: 20px;

    .profileCard {

      &.location .profileCardHeader i {
        margin-left: 4px
      }

      .profileCardHeader {
        i {
          font-size: 22px;
        }

        span {
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          vertical-align: top;
        }
      }

      .profileCardBody {
        border-left: 1px solid #eee;
        margin: 4px 8px;
        padding: 10px;
      }
    }
  }
}
