<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view class="chatDetailWrapper">
  <ion-nav-title>{{::username}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon icon ion-android-more-vertical" ng-click="headerMenu_Show = !headerMenu_Show"></button>
    <ul class="headerMenu" ng-show="headerMenu_Show">
      <li ng-repeat="item in navList">
        <a ng-class="{active:item.active}" href="#{{item.url}}">{{::item.title}}</a>
      </li>
    </ul>
  </ion-nav-buttons>

  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <ion-item ng-repeat="m in messages" ng-class="::m.pos">
        <span>{{::m.message}}</span>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <div class="footerContainer">
      <div class="emotionButton">
        <i class="ion-happy-outline "></i>
      </div>

      <div class="textareaWrapper">
        <textarea ng-auto-grow ng-model="text"></textarea>
      </div>

      <div class="sendButton">
        <i class="ion-android-send sendButton" ng-click="send()"></i>
      </div>

    </div>
  </ion-footer-bar>

</ion-view>
