<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

      <form name="loginForm" ng-submit="login(credentials)" novalidate>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="credentials.email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="credentials.password" required>
        </label>

        <input type="submit" value="Login" class="button button-block button-calm"
               ng-disabled="loginForm.$dirty && loginForm.$invalid">
      </form>

      <button class="button button-block button-positive" ng-click="register()">Register</button>

  </ion-content>
</ion-view>
