<ion-view view-title="Register">

  <ion-content overflow-scroll="true">

    <form name="registerForm" ng-submit="register(user)">
      <div class="item item-divider">Account</div>

      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email" required>
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password" required>
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Repeat password" ng-model="user.repeatPassword" required>
      </label>

      <div class="item item-divider">About you</div>

      <label class="item item-select">
        <div class="input-label">
          Country
        </div>

        <select ng-model="user.country">
          <option selected>NL</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username" required>
      </label>

      <div class="item" ng-init="user.gender='male'">
        <label style="margin-right: 50px;">
          <input type="radio" name="gender" value="male" style="margin-right: 10px;" ng-model="user.gender">Male
        </label>
        <label>
          <input type="radio" name="gender" value="female" style="margin-right: 10px;" ng-model="user.gender">Female
        </label>
      </div>

      <label class="item item-input">
        <input type="date" placeholder="Date of birth" ng-model="user.dateOfBirth" required>
      </label>

      <input type="submit" class="button button-block button-calm" value="Register">

    </form>
  </ion-content>

</ion-view>
