<ion-view view-title="Settings" class="profilePage">

  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-chevron-left" ng-click="$ionicHistory.goBack();"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>

      <ion-toggle ng-model="settings.enableFriends">
        Show online status
      </ion-toggle>
      <ion-toggle ng-model="settings.enableFriends">
        Show distances
      </ion-toggle>

      <div class="padding">
        <button class="button button-block button-positive activated">Save</button>
      </div>
    </div>

  </ion-content>
</ion-view>
