<ion-view view-title="Chats">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon icon ion-android-more-vertical" ng-click="headerMenu_Show = !headerMenu_Show"></button>
    <ul class="headerMenu" ng-show="headerMenu_Show">
      <li ng-repeat="item in navList">
        <a ng-class="{active:item.active}" href="#{{item.url}}">{{::item.title}}</a>
      </li>
    </ul>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{::chat.user_uid}}">
        <img ng-src="{{::chat.face}}">
        <h2>{{::chat.username}}</h2>
        <p>{{::chat.message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
