<ion-view class="profilePage">
  <ion-nav-title>{{user.username}}</ion-nav-title>

  <ion-content overflow-scroll="true">

    <div class="profileIMGContainer" style="background: url(img/profile-image.jpg) no-repeat center center; ">
      <div class="profileButtons">
        <a ng-click="toggleLike()" class="likeButton" ng-class='{"active":liked==true}'>
          <i class="ion-heart"></i>
        </a>
        <a href="#/tab/chats/{{user.uid}}" class="chatButton">
          <i class="ion-chatbubbles"></i>
        </a>

        <!--
        <a ng-click="toggleProfileData()"><i class="ion-person profileButton"></i><span>Profile</span></a>
        <a><i class="ion-camera photosButton"></i><span>Photos</span></a>
        -->
      </div>
    </div>


    <div class="profileData">

      <div class="profileCard location">
        <div class="profileCardHeader">
          <i class="ion-location"></i>
          <span>Current location</span>
        </div>
        <div class="profileCardBody">
          <p>Utrecht</p>
        </div>
      </div>

      <div class="profileCard information">
        <div class="profileCardHeader">
          <i class="ion-information-circled"></i>
          <span>About me</span>
        </div>
        <div class="profileCardBody">
          <span>I want: </span><span>Fuck all night</span>
          <br><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
      </div>

      <!--
      <div class="list card">
        <div class="item item-divider">Details</div>
        <div class="item item-body">
          <img src="img/female.png" style="width: 40%; float:left;">

          <div style="width: 50%; float: right">
            <p>Sletje 12</p>
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">Recent Updates</div>
        <div class="item item-body">
          <div>
            There is a fire in <b>sector 3</b>
          </div>
        </div>
      </div>
    </div>

    <!--

    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
