<ion-view view-title="Users">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon icon ion-android-more-vertical"
            ng-click="headerMenu_Show = !headerMenu_Show"></button>
    <ul class="headerMenu" ng-show="headerMenu_Show">
      <li ng-repeat="item in navList">
        <a ng-class="{active:item.active}" href="#{{item.url}}">{{item.title}}</a>
      </li>
    </ul>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">
    <div class="customBar">
      <span>Nearby</span>
    </div>
    <a ng-repeat="user in users" href="#/tab/users/{{::user.uid}}" class="userContainer" style="width: {{size}}; height: {{size}}">
      <span>{{::user.name}}</span>
      <img ng-src="img/male.png">
    </a>
  </ion-content>

</ion-view>
