a, a:visited, a:active {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}

/*
body > ion-nav-view {
  background: rgb(68,13,68);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,13,68,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(68,13,68,1) 0%,rgba(125,185,232,1) 100%);
  background: -o-linear-gradient(top, rgba(68,13,68,1) 0%,rgba(125,185,232,1) 100%);
  background: -ms-linear-gradient(top, rgba(68,13,68,1) 0%,rgba(125,185,232,1) 100%);
  background: linear-gradient(to bottom, rgba(68,13,68,1) 0%,rgba(125,185,232,1) 100%);
}
*/

/*
.pane,
.view {
  background: transparent;
}
*/

