$colorLeft: #F5F5F5;
$colorRight: #D4F5D4;
$colorInputBox: #fff;

.chatDetailWrapper {
  height: 100%;
  overflow: auto;
  background: url(../img/background-chat.jpg);

  .item {
    clear: both;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    position:relative;
    overflow: visible;
    box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.5);

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
    }

    &.left {
      float: left;
      background-color: $colorLeft;
      border-radius:  0 5px 5px 5px;

      &:after {
        top: 0;
        left: -10px;
        border-width: 0 10px 10px 0;
        border-color: transparent $colorLeft;
      }
    }

    &.right {
      float: right;
      background-color: $colorRight;
      border-radius:  5px 0 5px 5px;

      &:after {
        top: 0px;
        right: -10px;
        border-width: 0 0 10px 10px;
        border-color: transparent $colorRight;
      }
    }
  }

  .bar.bar-footer {
    background: transparent;
    height: auto;

    .footerContainer {
      display:table;
      width: 100%;

      .textareaWrapper {
        display: table-cell;
        background-color: white;
        width: 100%;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0px;
          right: -10px;
          display: block;
          width: 0;
          z-index: 1;
          border-style: solid;
          border-width: 0 0 10px 10px;
          border-color: transparent $colorInputBox;
        }

        textarea {
          width: 100%;
          resize: none;
          font-size: 16px;
          color: #333;
          padding-top: 10px;
          height: 30px;
        }
      }

      .emotionButton {
        width: 40px;
        padding: 8px;
        font-size: 25px;
        background-color: white;
        display: table-cell;
      }

      .sendButton {
        width: 32px;
        padding: 8px;
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
}
